@{
    ViewData["Title"] = "Image detail";
}
@model Image

<h1>Image Detail</h1>

<div class="Detail">
    <img src="@Url.Content("~/"+Model.ImageUrl)" alt="Image">
    <div class="name">@Model.Name</div>
    <div class="price">@Model.Price</div>
    <div class="desc">@Model.Description</div>
    <div class="date">@Model.CreationDate</div>
</div>